**1. Write a code to create a string with your name and print it ?**

In [1]:
name = "manish Kumar"
print(name)

manish Kumar

**2. Write a code to find the length of the string "Hello World" ?**

In [2]:
a = "Hello World"
len(a)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming" ?**

In [3]:
a = "Python Programming"
slice = a[0:3]
print(slice)

Pyt

**4. Write a code to convert the string "hello" to uppercase ?**

In [4]:
a = "hello"
a.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?**

In [5]:
a = "i like apple"
a.replace("apple","orange")

'i like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it ?**

In [8]:
a = [1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

**7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?**

In [12]:
a = [1,2,3,4]

In [13]:
a

[1, 2, 3, 4]

In [14]:
a.append(10)

In [15]:
a

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?**

In [16]:
a = [1,2,3,4,5]

In [17]:
a.remove(3)

In [18]:
a

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?**

In [19]:
list = ['a','b','c','d']

In [20]:
list[1]

'b'

**10. Write a code to reverse the list [10, 20, 30, 40, 50] ?**

In [21]:
a= [10,20,30,40,50]

In [22]:
a.reverse()

In [23]:
a

[50, 40, 30, 20, 10]

In [25]:
b = [10,20,30,40,50]

In [27]:
b[::-1]

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it ?**

In [28]:
T1= (100,200,300)

In [29]:
print(T1)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?**

In [30]:
a = ['red','green','blue','yellow']

In [31]:
a[-1][-2]

'o'

In [32]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?**

In [34]:
a = (10,20,5,15)
min(a)

5

**14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?**

In [36]:
a = ("dog","cat","rabbit")
a.index("cat")

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?**

In [38]:
fruits = ("apple","kiwi", "pinapple","banana")
print("kiwi" in fruits)

True

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it ?**

In [41]:
set = {'a','b','c'}
print(set)

{'a', 'c', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?**

In [46]:
a = {1,2,3,4,5}

In [47]:
a.clear()
print(a)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?**

In [48]:
a= {1,2,3,4}

In [49]:
a.remove(4)
print(a)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?**

In [50]:
a= {1,2,3}
b= {3,4,5}

In [52]:
union_set = a | b
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?**

In [53]:
a= {1,2,3}
b= {2,3,4}

In [54]:
intersection_set = a & b
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?**

In [55]:
a = {"name":"manish", "age": 20, "city":"delhi"}

In [56]:
print(a)

{'name': 'manish', 'age': 20, 'city': 'delhi'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?**

In [57]:
a = {"name":"John","age":25}

In [60]:
a["country"] = "USA"

In [61]:
a

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?**

In [71]:
dic = {"name":"Alice", "age": 30}

In [73]:
print(dic["name"])

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?**

In [81]:
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [82]:
a.pop("age")

22

In [83]:
a

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?**

In [84]:
a = {'name': 'Alice', 'city': 'Paris'}

In [85]:
print("city" in a)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all ?**

In [87]:
my_list = [1, 2, 3]

my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'manish', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'manish', 'age': 25}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result ?**

In [89]:
import random
list1 = [random.randint(1,100) for i in range(5) ]
list1.sort()

print('Sorted List: ', list1)

Sorted List:  [22, 35, 42, 67, 68]

**28. Write a code to create a list with strings and print the element at the third index ?**

In [90]:
a= ["manish","raju","kushi","priyanka"]

In [93]:
print(a[3])

priyanka

**29. Write a code to combine two dictionaries into one and print the result ?**

In [94]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = dict1 | dict2
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set ?**

In [114]:
str1 = ['Ankit', 'Raju', 'Viswanathan', 'Suresh', 'Raju', 'Suresh']    # please explain where am i wrong, i have tried many time and defferent ways.
set1 = set(str1)
print(set1)

TypeError: 'set' object is not callable