**What is Python, and why is it popular ?**

- Python is a high-level, interpreted, general-purpose programming language and it is easy to learn, there is so many liabraries available.

**What is an interpreter in Python?**

- Interpreter is a computer program that directly executes instruction in python programming language.

**What are pre-defined keywords in Python?**

- Pre-defined keywords is called keywords or reserved keywords. keyword are special word that have fixed meaning and purpose in python language, and it can not be used for programmers for the other purporse like ( varibale name, function names)

**Can keywords be used as variable names?**

- No

**What is mutability in Python?**

- any object can be change after it has been created its called mutability.

**Why are lists mutable, but tuples are immutable?**

- lists can be change after it has been created so lists are mutable, we can use append() after the creat object.
- Tuples are imutable cause we can not any change after created it.

**What is the difference between “==” and “is” operators in Python?**

- "==" and "is" both are use for comparison in python.

**What are logical operators in Python?**

- "and" , "or", "not" these are logical operators in python.

**What is type casting in Python?**

- Type casting is the process of conerting a variable or value from one data t oanother data.

**What is the difference between implicit and explicit type casting?**

- The differnce between implicit and explicit in python lies in who performs the conversion and how much control you ahve over the process.

**What is the purpose of conditional statements in Python?**

- The purpose of conditional statements in python is to allow your program to make decisions and execute different blocks of code based on whether certain conditions are met.

**How does the elif statement work**

-The elif statement in Python  is used in conjunction with an if statement to create a chain of conditional checks. Its purpose is to test additional conditions when the preceding if condition  evaluated to False.

**What is the difference between for and while loops?**

-The "for" and "while" loops are both fundamental control flow statements in Python.
- for loops is Primarily used for iterating over a sequence, it executes a block of code once for each item in the sequence.
- while loop is primarily used for repeatedly executing a block of code as long as certain condition reamains.

**Write a Python program to print "Hello, World!?**

In [7]:
print("Hello, World!")

Hello, World!

**Write a Python program that displays your name and age?**

In [11]:
name = "manish"
age = 28
print(f"my nmae is {name} and my age is {age}")

my nmae is manish and my age is 28

** Write code to print all the pre-defined keywords in Python using the keyword library?**

In [12]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Write a program that checks if a given word is a Python keyword?**

In [15]:
a = 100
if a >= 0:
  print("the number is grather than 0 ")

the number is grather than 0

**Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.**

In [26]:
x = (1,2,3)
y = (4,5,6)
z =x+y
print(z)

(1, 2, 3, 4, 5, 6)

In [27]:
type(z)

tuple

In [31]:
z.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
x = (1,2,3)

In [33]:
new_list = list(x)
new_list

[1, 2, 3]

In [34]:
new_list.append(4)

In [35]:
new_list

[1, 2, 3, 4]

**Write a function to demonstrate the behavior of mutable and immutable argument.**

In [36]:
# mutable
x = (1,2,3)
y = list(x)
y.append(5)

In [37]:
y

[1, 2, 3, 5]

In [38]:
# immutable
x = (4,5,6)

In [39]:
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

**Write a program that performs basic arithmetic operations on two user-input numbers.**

In [41]:
a = 20
b = 10
sum = a+b
sub = a-b
mul = a*b
div = a/b
print(sum)
print(sub)
print(mul)
print(div)

30
10
200
2.0

**Write a program to demonstrate the use of logical operators.**

In [45]:
a = 20
b = 10
a and b

10

In [46]:
a or b

20

**Write a Python program to convert user input from string to integer, float, and boolean types.**

In [48]:
name = input("enter your name")
age = int(input("enter your age"))
hight = float(input("enter your hight"))
if hight > 2:
  print("pass")

enter your namemanish
enter your age28
enter your hight5.8
pass

**Write a Python program to find the sum of all even numbers between 1 and 50.**

In [56]:
list(range(2,50,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

**Write a program that checks if a number is positive, negative, or zero.**

In [53]:
num=-1

if num >=0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative Number")

Negative Number

** Write a for loop to print numbers from 1 to 10.**

In [57]:
x = [1,2,3,4,5,6,7,8,9,10]

In [59]:
for i in x:
  print(i)

1
2
3
4
5
6
7
8
9
10

**Write a program to reverse a string using a while loop.**

In [61]:
i = 5
while i>=1:
  print(i)
  i-=1

5
4
3
2
1